:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.shortcuts ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

nav{
display: flex;
justify-content: space-between;
}

.logo {
    width : 50%;
}

.login ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }
   
   

body{
    font-family: 'Roboto', serif;

    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
    padding-bottom: 5px;  
}
main {
width: 90%;
align-content: center;
padding:auto;
margin:auto;
}



.contenido {
    border: 1px solid #ebebeb;
    padding-right: 15px;
    padding-left: 15px;
}

.burger-menu{
    font-size: 16px;
    text-align: center;
    padding: 12px;
    margin: 12px;
    color: white;
  }

.burger-menu i{
      background-color:#1259c3;
      padding: 12px;
      border-radius: 16px; 

  }

  .precioDescuento{
      position: relative;
      display: flex;
     
  }

  .contenido {
    position: relative;
  }

.Precios{
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
 }

 .Titulares{
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
 }

 .Descuentos{
    font-size: 16px;
    margin: 10px;
    color: #39b54a;
 }
 form { 
    margin: 0 auto; 
    width:250px;
    padding-top: 20px;
    margin-bottom: 50px;
    }

form h4{

        padding-top: 5px;
        padding-bottom: 5px;
    }

form input{
    margin-top: 5px;
    margin-bottom: 5px;

}

form label{
    margin-top: 5px;
    margin-bottom: 5px;

}

 p{
    font-size: 12px;
    margin: 10px;
    text-align: center;
    
    
 }

 h3{
    margin: 10px;
    text-align: center;
 }

 .fa-truck{
     color: #39b54a;
     margin: 10px;
 }

 .fa-credit-card {
      color:#1259c3;
      font-size:32px;    
      padding: 12px;
 }

 .fa-gift {
    color:#1259c3;
    font-size:32px;    
    padding: 12px;
}
.fa-user-shield {
    color:#1259c3;
    font-size:32px;    
    padding: 12px;
    display: inline-block;
    
}

ul{
    margin: 10px;
}

a:hover, a:visited, a:link, a:active
{
    color: #000000;
    text-decoration: none;
}

.center {
    text-align:center;
    width:100%;
}


.FotoBusqueda{
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media (max-width: 361px) {
    .Descripcion {
        display: none;
    }
    nav {
        display: none;
    }
}

@media (min-width: 361px ){
    .burger-menu {display: none;}

    .containerArticulo{
        display: flex;
        flex-wrap: wrap;
    }

    article 
    {
        flex: 45%; 
        margin: 10px;     
        background-color: white;
        box-shadow: 0px 5px 5px rgba(100, 100, 100,0.5);
    }
   
}

@media (min-width: 769px) {
    .containerArticulo{
        display: flex;
        flex-wrap: wrap;
    }

    article 
    {
        flex: 21%; 
        margin: 10px;     
        background-color: white;
        box-shadow: 0px 5px 5px rgba(100, 100, 100,0.5);
    }
}